<html><head>
		<title>Name Card</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="static/assets/css/main.css">
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">Priyadeep</a></h1>
					<p>Hi there, I'm a web developer,<br>
					and learning data science.<br>
						This is a basic name card<br>
						website using Flask! <a href="https://github.com/deep-priyo">My Github</a></p>
					<ul class="actions">
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="image phone"><div class="inner"><img src="static/images/screen.png" alt=""></div></div>
			</header>





		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">© Untitled.</p>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>


</body></html>